.about-container h1{
    text-align: center;
    text-transform: uppercase;
}

.about-container .hold-flag{
    z-index: -1;
    transform: scale(0.4);
    margin: -30em 0;
}

.about-container .hold-flag img{
    position: absolute;
    width: 1500px;
    height: 1500px;
    top: 50%;
    left: -55%;
}

.dark strong{
    color: #e3930a;
}

.about-container .inner-container{
    display: grid;
}

.dark.about-container .about-text{
    width: 35%;
    font-size: 1.6em;
    position: absolute;
    top: 25%;
    left: 55%;
    /* background-color: #191919; */
    /* border: hsla(0, 0%, 100%, 0.068) solid 2px; */
    padding: 25px;
    line-height: 1.6;
    transform: scale(1);
}









.light strong{
    color: #0e47a1;
}
