:root{
    --secondary-color-dark: #e3930a;
}

.greetings{
    text-align: center;
}

.home-dark{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-dark strong{
    color: var(--secondary-color-dark);
}

.home-light strong{
    color: #07409c;
}

.main-container{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    height: fit-content;
    border: solid black 1px;
    background-color: #191919;
}

.big-input-container{
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

.mini-input-container{
    width: 190px;
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: #212121;
    border-radius: 10px;
    border: solid 2px white;
    margin-left: 10px;
}

.big-input-container input{
    padding-left: 5px;
    outline: none;
    width: 200px;
    background-color: #212121;
    color: white;
    border-radius: 10px;
    border: transparent;
}

.big-input-container .icon{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 7px;
    color: var(--secondary-color-dark);
}

.countries-container{
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    padding: 0 10px 20px;
    
}

.country{
    border: solid 1px rgba(255, 255, 255, 0.623);
    width: 200px;
    height: 220px;
    background-color: #212121;
    border-radius: 10px;
}


.flag-container{
    width: 200px;
    height: 120px; 
}

.flag-img{
    width: 200px;
    height: 120px;
    border-radius: 10px;
    border-bottom-left-radius: 0;    
    border-bottom-right-radius: 0;    
}

.flag-img:hover{
    filter: brightness(1.05);
    cursor: pointer;
}
.code{
    text-align: center;
    margin-top: 10px;
    color: var(--secondary-color-dark);
    font-weight: bolder;
}

.name{
    text-align: center;
    margin-top: 10px;
    font-weight: bolder;
    
}
