:root{
    --secondary-color-dark: #e3930a;
    --secondary-color-light: #07409c;

    --light-1 : #e4f2fd;
    --light-2 : #bbdefa;
    --light-3 : #bbdefa;
    --light-4 : #64b5f6;
    --light-5 : #42a5f6;
    --light-6 : #2196f3;
    --light-7 : #1d89e4;
    --light-8 : #1976d3;
    --light-9 : #1564c0;
    --light-10: #0e47a1; 
    --light-11: #0f2b58;
}

.greetings{
    text-align: center;
}

.home-dark{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-dark strong{
    color: var(--secondary-color-dark);
}

.home-dark .main-container{
    margin: 50px 0;
    width: 80%;
    height: fit-content;
    border: solid black 1px;
    background-color: #191919;
    padding: 0em 2.5em 0.5em;
}

.home-dark .big-input-container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.home-dark .mini-input-container{
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: #212121;
    border-radius: 10px;
    border: solid 2px rgba(255, 255, 255, 0.119);
    margin-left: -3px;
    transform: scale(1.4);
}

.home-dark .big-input-container input{
    padding-left: 7px;
    outline: none;
    width: 200px;
    background-color: #212121;
    color: white;
    border-radius: 10px;
    border: transparent;
}

.home-dark .big-input-container .icon{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 7px;
    color: var(--secondary-color-dark);
}

.home-dark .big-input-container .globe{
    transform: scale(1.1);
}

.home-dark .countries-container{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    padding: 0 10px 20px;
    
}

.home-dark .country{
    border: solid 1.5px rgba(255, 255, 255, 0.119);
    width: 200px;
    height: 228px;
    background-color: #212121;
    border-radius: 10px;
}

.home-dark .flag-container{
    width: 200px;
    height: 120px; 
}


.home-dark .flag-img{
    width: 200px;
    height: 120px;
    border-radius: 10px;
    border-bottom-left-radius: 0;    
    border-bottom-right-radius: 0;    
}

.home-dark .flag-container:hover{
    filter: brightness(1.08);
    cursor: pointer;
}
.home-dark .code{
    text-align: center;
    margin-top: 10px;
    color: var(--secondary-color-dark);
    font-weight: bolder;
}
.home-dark .name{
    text-align: center;
    margin-top: 10px;
    font-weight: bolder;
}



/* light theme */
.home-light{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-light strong{
    color: var(--light-9);
}

.home-light .main-container{
    margin: 50px 0;
    width: 80%;
    height: fit-content;
    border: solid hsla(217, 71%, 20%, 0.141) 2px;
    background-color: var(--light-2);
    padding: 0em 2.5em 0.5em;
}

.home-light .big-input-container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.home-light .mini-input-container{
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: var(--light-1);
    border-radius: 10px;
    border: solid 2px hsla(217, 71%, 20%, 0.53);
    margin-left: -3px;
    transform: scale(1.4);
}

.home-light .big-input-container input{
    padding-left: 5px;
    outline: none;
    width: 200px;
    background-color: var(--light-1);
    color: var(--light-11);
    border-radius: 10px;
    border: transparent;
}

.home-light .big-input-container .icon{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 7px;
    color: #272562;
}

.home-light .big-input-container .globe{
    transform: scale(1.1);
}

.home-light .countries-container{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    padding: 0 10px 20px;
    
}

.home-light .country{
    border: solid 1.5px hsla(217, 71%, 20%, 0.454);
    width: 200px;
    height: 228px;
    background-color: var(--light-1);
    border-radius: 10px;
}

.home-light .flag-container{
    width: 200px;
    height: 120px; 
}


.home-light .flag-img{
    width: 200px;
    height: 120px;
    border-radius: 10px;
    border-bottom-left-radius: 0;    
    border-bottom-right-radius: 0;    
}

.home-light .flag-container:hover{
    filter: brightness(1.08);
    cursor: pointer;
}
.home-light .code{
    text-align: center;
    margin-top: 10px;
    color: var(--light-10);
    font-weight: bolder;
}
.home-light .name{
    text-align: center;
    margin-top: 10px;
    font-weight: bolder;
}



/* tooltip */
.home-dark .tooltip-text {
    font-size: small;
    visibility: hidden;
    width: 240px;
    background-color: var(--secondary-color-dark);
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 60.7%;
    margin-left: -60px;
}
.home-dark .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--secondary-color-dark) transparent transparent transparent;
}
.home-dark .globe:hover{
    cursor: pointer;
}
.home-dark .globe:hover + .tooltip-text {
    visibility: visible;
}

.home-light .tooltip-text {
    font-size: small;
    visibility: hidden;
    width: 240px;
    background-color: #272562;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 60.7%;
    margin-left: -60px;
}
.home-light .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #272562 transparent transparent transparent;
}
.home-light .globe:hover{
    cursor: pointer;
}
.home-light .globe:hover + .tooltip-text {
    visibility: visible;
}




/* modal  */
body.active{
    height: 100%;
    overflow-y: hidden;
}

.home-dark .inactive{
    display: none;
}

.home-dark .modal .inner-container{
    z-index: 1;
    position: absolute;
    top: 3%;
    left: 18%;
    background-color: #191919;
    border: hsla(217, 71%, 20%, 0.141) solid 2px; 
    width: 1000px;
    height: 850px;
    padding-top: 15px;
}

.home-dark .modal .inner-container .close-modal{
    position: absolute;
    top: 1.5%;
    right: 3.5%;
    font-size: xx-large;
    color: rgba(255, 255, 255, 0.5);
}
.home-dark .modal .inner-container .close-modal:hover{
    color: rgba(255, 255, 255, 0.763);
    cursor: pointer;
}

.home-dark .modal .inner-container h1{
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
}

.home-dark .modal .black-bg{
    z-index: 0;
    width: 1000em;
    height: 1000em;
    background-color: #000000;
    opacity: 70%;
    position: absolute;
    top: -50%;
    left: -50%;
}


.continents img{
    transform: scale(0.4);
    margin: 0;
    position: absolute;
}
.continents img:hover{
    filter: invert(50%) sepia(81%) saturate(3109%) hue-rotate(6deg) brightness(100%) contrast(80%);
    cursor: pointer;
}
.africa{
    transform: scale(0.52) !important;
    top: 33%;
    right: 27%;
}
.south-am{
    transform: scale(0.35) !important;
    top: 35%;
    left: 11%;
}
.north-am{
    transform: scale(0.4) !important;
    top: 0%;
    left: -10%;
}
.australia{
    transform: scale(0.3) !important;
    bottom: 10%;
    right: 0%;
}
.europe{
    transform: scale(0.52) !important;
    top: 14%;
    right: 23%;
    filter: brightness(95%);
}
.asia{
    /* visibility: hidden; */
    transform: scale(0.43) !important;
    filter: brightness(95%);
    top: -11%;
    right: -27.5%;
}